/* External CSS*/
h1 {
    color: red;
    background-color: green;
    margin: auto 50px;
    padding: 10px;
    text-align: center;
    width: 30%;
    height: 30%;
    text-decoration-color: green;
}

#top {
    margin-bottom: 25px;

}

#bottom {
    margin-top: 25px;
}